<tr>
  <td><%= user.email %></td>
  <td><%= user.roles.to_sentence %></td>
  <td><%= t(user.blocked.to_s) %></td>
  <td><%= link_to 'edit', [:edit, user], class: 'btn btn-link btn-xs' %></td>
  <td><%= link_to 'block', [user, :block], class: 'btn btn-link btn-xs', method: :post, remote: true %></td>
</tr>