<header class="header">
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <%= link_to 'Shop', :root, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <% if current_user.present? %>
        <li class="nav-item">
          <%= link_to 'Profile', :profile, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Users', :users, class: 'nav-link' if current_user.roles? :admin %>
        </li>
        <li class="nav-item">
          <%= link_to 'Products', :products, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log out', :session, class: 'nav-link', method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>