<div class="container-fluid">
  <div class="widget-list-item">
    <div class="widget-list-item__header">Categories</div>

    <div class="category-list">
      <div class="category-list-item">
        <%= image_tag 'widgets/alcohol.jpg' %>

        <div class="category-list-item__name">Alcohol</div>
      </div>

      <div class="category-list-item">
        <%= image_tag 'widgets/sweets_and_desserts.jpg' %>

        <div class="category-list-item__name">Sweets and Desserts</div>
      </div>

      <div class="category-list-item">
        <%= image_tag 'widgets/beer.jpg' %>

        <div class="category-list-item__name">Beer</div>
      </div>

      <div class="category-list-item">
        <%= image_tag 'widgets/red_dry_wine.jpg' %>

        <div class="category-list-item__name">Red Dry Wine</div>
      </div>

      <div class="category-list-item">
        <%= image_tag 'widgets/stationery.jpg' %>

        <div class="category-list-item__name">Stationery</div>
      </div>

      <div class="category-list-item">
        <%= image_tag 'widgets/sausages_wieners_and_frankfurters.jpg' %>

        <div class="category-list-item__name">Sausages, Wieners and Frankfurters</div>
      </div>

      <div class="category-list-item">
        <%= image_tag 'widgets/donuts.jpg' %>

        <div class="category-list-item__name">Donuts</div>
      </div>

      <div class="category-list-item">
        <%= image_tag 'widgets/chickens.jpg' %>

        <div class="category-list-item__name"><div>Chickens</div></div>
      </div>
    </div>
  </div>
</div>
