<div id="<%= dom_id product %>" class="pp-list-item product-list-item">
  <%= link_to '#' do %>
    <%= image_tag product.image, class: 'product-list-item__image' %>
  <% end %>

  <% if policy(product).edit? %>
    <%= link_to 'Edit', [:edit, product], class: 'btn btn-success btn-sm product-list-item__edit-button', remote: true %>
  <% end %>

  <div class="product-list-item__description">
    <div class="product-list-item__name"><%= product.name %></div>

    <div class="product-list-item__price-and-button-wrapper">
      <div class="product-list-item__price"><%= product.price %></div>

      <%= link_to 'Add to Cart', '#', class: 'btn btn-success btn-sm product-list-item__add-to-cart-button' %>
    </div>
  </div>
</div>
