<%= breadcrumbs do %>
  <li class="breadcrumb-item active">Products</li>
<% end %>

<div class="category-label-for-product-list">
  <% if parent %>
    <%= parent.name %>
  <% else %>
    All Products
  <% end %>
</div>

<div class="pp-list">
  <%= render collection.decorate %>
</div>

<%= paginate collection %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('.pp-list').PrettyPlacement();
    });
  <% end %>
<% end %>
