<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Categories</th>
      <th></th>
      <%= content_tag :th if policy(collection).edit? %>
      <%= content_tag :th if policy(collection).destroy? %>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
  </tbody>
</table>

<%= paginate collection, theme: 'twitter-bootstrap-4', pagination_class: 'pagination justify-content-center' %>

<p class="text-center">
  <%= page_entries_info collection %>
</p>

<div>
  <%= link_to 'New product', [:new, :product], class: 'btn btn-primary btn-block' if policy(Product).new? %>
</div>