<%= breadcrumbs do %>
  <li class="breadcrumb-item active"><%= parent.name %></li>

  <li class="breadcrumb-item active">Products</li>
<% end %>

<div class="pp-list">
  <%= render collection.decorate %>
</div>

<%= paginate collection %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('.pp-list').PrettyPlacement();
    });
  <% end %>
<% end %>
