<%= image_tag resource.image.url, class: 'img-fluid' %>

<p>Name: <%= resource.name %></p>

<p>Price: <%= resource.decorate.price %></p>

<p>Discount price: <%= resource.decorate.discount_price %></p>

<p>Categories:</p>

<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render resource.categories %>
  </tbody>
</table>
