<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <div class="container">
    <%= render 'widgets/header' if current_user.present? %>

    <div id="flash_messages">
      <%= render 'widgets/flash_messages' %>
    </div>

    <% if current_user.present? %>
      <div class="jumbotron">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>

  <%= javascript_include_tag :application %>
</body>
</html>
