<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :application, media: :all %>
  </head>

  <body>
    <%= render 'widgets/header' %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= render 'widgets/footer' %>

    <%= javascript_include_tag :application %>

    <%= yield :javascripts %>
  </body>
</html>
