<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <%= render 'widgets/header' %>

  <div class="container">
    <div class="row">
      <div class="col-sm-10 mx-auto">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'widgets/footer' %>

  <%= javascript_include_tag :application %>
</body>
</html>
